@model Microsoft.AspNetCore.Identity.IdentityUser
@{
    ViewData["Title"] = "Add";
}

<h1>Add User</h1>

<form asp-controller="User" asp-action="Add" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label class="control-label" asp-for="UserName"></label>
        <input class="form-control" asp-for="UserName" />
    </div>

    <div class="form-group">
        <label class="control-label">password</label>
        <input class="form-control" asp-for="PasswordHash" />
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>