@model List<DynamicPermission.AspNetCore.ViewModels.ManageUser.IndexViewModel>
@{
    ViewData["Title"] = "Index";
}


<a asp-controller="ManageUser" asp-action="AddUser" class="btn btn-success">Add User</a>

@if (Model.Any())
{
    for (int i = 0; i < Model.Count; i++)
    {
        <div class="card mt-2">
            <div class="card-header">
                User Name : <b>@Model[i].UserName</b>
            </div>
            <div class="card-footer">

                <a asp-controller="ManageUser" asp-action="DeleteUser" asp-route-id="@Model[i].Id"
                   class="btn btn-danger">Delete User</a>

                <a asp-controller="ManageUser" asp-action="AddUserToRole" asp-route-id="@Model[i].Id"
                   class="btn btn-primary">Add to role</a>
                <a asp-controller="ManageUser" asp-action="RemoveUserFromRole" asp-route-id="@Model[i].Id"
                   class="btn btn-primary">Remove From role</a>

                <button type="submit" class="btn btn-danger">Delete user</button>

            </div>
        </div>
    }

}
else
{
    <h1>کاربری یافت نشد</h1>
}