@model DynamicPermission.AspNetCore.ViewModels.ManageUser.AddUserToRoleViewModel
@{
    ViewData["Title"] = "DeleteUserToRole";
}

<h1>DeleteUserToRole</h1>

<form asp-controller="ManageUser" asp-action="RemoveUserFromRole" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if (!Model.UserRoles.Any())
    {
        <h1>هیچ مقامی یافت نشد</h1>
    }
    else
    {
        for (int i = 0; i < Model.UserRoles.Count; i++)
        {
            <div class="form-group">
                <input asp-for="@Model.UserRoles[i].IsSelected" />
                <label>@Model.UserRoles[i].RoleName</label>

                <input type="hidden" asp-for="@Model.UserRoles[i].RoleName" />
            </div>
        }
    }

    <input type="hidden" asp-for="@Model.UserId" />
    <button class="btn btn-primary" type="submit">Submit</button>
</form>