
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-controller="TestPermission" asp-action="Add" class="btn btn-primary">Add</a>

<a asp-controller="TestPermission" asp-action="Edit" class="btn btn-warning">Edit</a>

<a asp-controller="TestPermission" asp-action="Delete" class="btn btn-danger">Delete</a>