@model string

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div>
    <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewData["returnUrl"]" method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="text-danger">@ViewData["ErrorMessage"]</div>
        }

        <label class="col-md-2 control-label">UserName</label>
        <div class="col-md-10">
            <input name="userName" class="form-control" />
        </div>
        
        <br/>

        <label class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input name="password" class="form-control" />
        </div>

        <br />

        <div class="col-md-10">
            <label class="control-label">RememberMe</label>
            <input type="checkbox" name="RememberMe" />
        </div>
        
        <br/>
        <button type="submit" class="btn btn-primary">submit</button>

    </form>
</div>