@model List<DynamicPermission.AspNetCore.Models.AppSetting>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="btn-group mt-4 mb-4">
    <a asp-action="RoleValidationGuid" class="btn btn-primary">RoleValidationGuid</a>
</div>


@if (!Model.Any())
{
    <h2>No setting found</h2>
}
else
{
    for (int i = 0; i < Model.Count; i++)
    {
        <div class="card mt-2">
            <div class="card-header">
                SiteSetting Key : <b>@Model[i].Key</b>
            </div>
            <div class="card-body">
                SiteSetting Value : <b>@Model[i].Value</b>
            </div>
            <div class="card-footer">
                Last Time Value Changed = @Model[i].LastTimeChanged
            </div>
        </div>
    }
}



