@model DynamicPermission.AspNetCore.Entities.AppSetting
@{
    ViewData["Title"] = "RoleValidationGuid";
}

<h1>Role Validation Guid</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="form-group">
    <label class="control-label" asp-for="@Model.Value"></label>
    <input readonly="readonly" class="form-control" asp-for="@Model.Value" />
</div>
<div class="form-group">
    <label class="control-label" asp-for="@Model.LastTimeChanged"></label>
    <input readonly="readonly" class="form-control" asp-for="@Model.LastTimeChanged" />
</div>

<a asp-controller="AppSetting" asp-action="GenerateNewGuid" class="btn btn-primary">Generate New Guid</a>
