@model List<DynamicPermission.AspNetCore.ViewModels.ManageRole.IndexViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-controller="ManageRole" asp-action="AddRole" class="btn btn-success">Add Role</a>


@if (Model.Any())
{
    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="card mt-2">
            <div class="card-header">
                Name = @Model[i].RoleName
            </div>

            <div class="card-footer">
                <a asp-controller="ManageRole" asp-action="Permissions" asp-route-id="@Model[i].RoleId"
                   class="btn btn-primary">Permissions</a>

                <a asp-controller="ManageRole" asp-action="DeleteRole" asp-route-id="@Model[i].RoleId"
                   class="btn btn-danger">Delete Role</a>
            </div>

        </div>
    }
}
else
{
    <p>No Role Found.</p>
}
