@model DynamicPermission.AspNetCore.ViewModels.ManageRole.AddPermissionToRoleViewModel
@{
    ViewData["Title"] = "RemovePermissionFromRole";
}

<h1>RemovePermissionFromRole</h1>

<form asp-controller="ManageRole" asp-action="RemovePermissionFromRole" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    
    <input type="hidden" asp-for="@Model.RoleId"/>

    @if (!Model.RolePermissions.Any())
    {
        <h1>No Permission Found</h1>
    }
    else
    {
        for (int i = 0; i < Model.RolePermissions.Count; i++)
        {
            <div class="card-footer">
                <input asp-for="@Model.RolePermissions[i].IsSelected" />
                <label>@Model.RolePermissions[i].PermissionName</label>
                <input type="hidden" asp-for="@Model.RolePermissions[i].PermissionName"/>
            </div>
        }
    }
    
    <br/>
    <button class="btn btn-primary" type="submit">Submit</button>

</form>